body {
  text-align: center;
  padding: 30px;
}
.containerStyle {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.buttonStyle {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.countersWrapper {
  display: flex;

  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.cardStyle1 {
  background-color: #0fb325ff;
  padding: 20px;
  border-radius: 10px;
  width: 220px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cardStyle2 {
  background-color: #e07c0aff;
  padding: 20px;
  border-radius: 10px;
  width: 220px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
